<div class="row page-header">
  <div class="col-md-10">
    <h1>
      &nbsp;
    </h1>
  </div>
  <div class="col-md-2">
    <div class="pull-right">
        <a class="btn" href="#/new?category=Article">
            <i class="fa fa-newspaper-o"></i> New article
        </a>
    </div>
  </div>
</div>

<div id="story-list">
    <div class="row">
        <div class="col-md-4" ng-repeat="card in articles">
            <storyweb-card-item card="card"></storyweb-card-item>
        </div>
    </div>
</div>
