<div class="row page-header">
  <div class="col-md-10">
    <h1>
      <storyweb-card-icon category="card.category"></storyweb-card-icon>
      <input class="input-title" ng-model="card.title" placeholder="New Card">
    </h1>
  </div>
  <div class="col-md-2">
    <div class="pull-right">
        <button class="btn" ng-click="saveCard()">
            <i class="fa fa-floppy-o"></i> Save &amp; Analyze
        </button>
    </div>
  </div>
</div>

<div class="row card-frame">
  <div class="col-md-5 border-right">
    <div class="col-md-12">
      <p>
        <div class="input-text" contenteditable="true"
          ng-model="card.text"
          strip-br="false"
          select-non-editable="false">
        </div>
      </p>
    </div>
  </div>
  <div class="col-md-7">
    <tabset justified="true" class="link-tabs">
      <tab heading="{{activeLinks}} Cards" disabled="!activeLinks" active="tabs.pending">
        <div class="alert alert-info" ng-show="updatesPending">
          There are {{updatesPending.updated.length}} new associated cards available.
          <a ng-click="updateLinks()" class="pseudo-link">Click here to reload</a>.
        </div>
        <div class="link-list">
          <div ng-repeat="link in links" ng-hide="link.rejected">
            <storyweb-link parent="card" link="link"></storyweb-card>
          </div>
        </div>
      </tab>
      <tab heading="{{rejectedLinks}} Discarded" disabled="!rejectedLinks">
        <div class="link-list">
          <div ng-repeat="link in links" ng-show="link.rejected">
            <storyweb-link parent="card" link="link"></storyweb-card>
          </div>
        </div>
      </tab>
      <tab heading="Add Card">
        <storyweb-new-link parent="card"></storyweb-new-card>
      </tab>
    </tabset>
  </div>
</div>
