<form ng-submit="saveCard()" class="new-card">
  <div class="row">
    <div class="col-md-8">
      <h3 class="sub_header">Create a new <span class="cur">{{card.category}}</span></h3>
    </div>
    <div class="col-md-12 title-field">
      <input class="card-title card-title-edit" ng-model="card.title" placeholder="{{card.category}} name">
    </div>
    <div class="col-md-12">
      <input type="submit" value="Create" class="btn" label="submit" ng-disabled="!canSubmit()"></input>
    </div>
  </div>
</form>
