<div class="row">
  <div class="col-md-5 border-left border-right">
    <div class="col-md-12 save-bar">
      <button type="button" class="btn btn-analyze btn-default" ng-click="saveCard()">Save &amp; Analyze</button>
    </div>
    <div class="col-md-12">
      <input class="input-title" ng-model="card.title" placeholder="New Card">
      </div>
      <div class="col-md-12">
      <p>
        <div class="input-text" contenteditable="true"
          ng-model="card.text"
          strip-br="false"
          select-non-editable="false">
        </div>
      </p>
    </div>
  </div>
  <div class="col-md-7 border-right">
    <tabset justified="true" class="link-tabs">
      <tab heading="{{activeLinks}} Cards" disabled="!activeLinks" active="tabs.pending">
        <div class="link-list">
          <div ng-repeat="link in links" ng-hide="link.rejected">
            <storyweb-link parent="card" link="link"></storyweb-card>
          </div>
        </div>
      </tab>
      <tab heading="{{rejectedLinks}} Discarded" disabled="!rejectedLinks">
        <div class="link-list">
          <div ng-repeat="link in links" ng-show="link.rejected">
            <storyweb-link parent="card" link="link"></storyweb-card>
          </div>
        </div>
      </tab>
      <tab heading="New Card">
        <storyweb-new-link parent="story"></storyweb-new-card>
      </tab>
    </tabset>
  </div>
</div>
