<form ng-submit="saveCard()" class="new-card">
  <br/><br/>
  <div class="row">
    <div class="col-md-8">
      <h3 class="sub_header">Create a card for a <span class="cur">{{card.category}}</span></h3>
    </div>
    <div class="col-md-4" class="categories-field">
      <div class="cat-select"
           ng-repeat="cat in categories"
           ng-class="{'selected': card.category == cat}"
           ng-click="selectCategory(cat)">
        <storyweb-card-icon category="cat"></storyweb-card-icon>
      </div>
    </div>
    <div class="col-md-12 title-field">
      <input class="card-title card-title-edit" ng-model="card.title" placeholder="Person, Company or Organization name"
      typeahead="o as o.title for o in suggestCard($viewValue)"
      typeahead-wait-ms="100" typeahead-on-select="linkCard($item, $model, $label)">
    </div>
    <div class="col-md-12">
      <input type="submit" value="Create" class="btn" label="submit" ng-disabled="!canSubmit()"></input>
    </div>
  </div>
</form>
