<div class="card" ng-mouseenter="mouseIn()" ng-mouseleave="mouseOut()">
  <div class="card-header">
    <div class="pull-right actions">
      <a ng-click="toggleRejected()">
        <img src="/static/img/accept.png" ng-show="card.discarded">
        <img src="/static/img/decline.png" ng-show="!card.discarded">
      </a>
      <a ng-click="expandCard()">
        <img src="/static/img/expand-blue.png" ng-show="!expanded">
        <img src="/static/img/collapse-blue.png" ng-show="expanded">
      </a>
    </div>
    <div>
      <storyweb-card-icon category="card.category"></storyweb-card-icon>
      <div ng-show="viewMode()" ng-click="expandCard()" class="card-title">
        {{card.title}}
        <span class="count" ng-show="card.references.length > 1">
          {{card.references.length}} leads
        </span>
        <span class="count" ng-show="card.references.length == 1">
          one lead
        </span>
        <span class="count" ng-show="card.references.length <= 0">
          no leads
        </span>
      </div>
      <input ng-show="editMode()" class="card-title card-title-edit" ng-model="card.title">
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="card-body" ng-show="expanded">
    <h3 class="sub_header">
      Notes <img class="pseudo-link" ng-click="toggleMode()" src="/static/img/edit.png">
    </h3>
    <div ng-show="viewMode()">
      <p ng-show="hasText()">{{card.text}}</p>
      <p ng-hide="hasText()" class="hint">No notes have been made</p>
    </div>
    <div ng-show="editMode()">
      <textarea class="edit-field" ng-model="card.text"></textarea>
      <div>
        <button class="btn" ng-click="toggleMode()">Save</button>
      </div>
    </div>
    <div ng-show="hasReferences()">
      <h3 class="sub_header">References</h3>
      <ul>
        <li ng-repeat="reference in card.references">
          <storyweb-reference story="story" card="card" reference="reference"></storyweb-reference>
        </li>
      </ul>
    </div>
  </div>
</div>
