
<!--p class="row boxed">
  Showing {{result.offset+1}} to {{result.end}} of {{result.total}}.
</p-->

<div id="story-list">
    <div class="row">
        <div class="col-md-4 card-preview" ng-repeat="card in result.results">
            <h2>
                <a href="#/cards/{{card.id}}">{{card.title}}</a>
            </h2>
            <p>
               {{ card.summary }}
            </p>
        </div>
    </div>
</div>

<storyweb-pager response="result" load="loadPage(page)"></storyweb-pager>
