<form ng-submit="saveCard()" class="new-card">
  <br/><br/>
  <div class="row">
    <div class="col-md-8">
      <h3 class="sub_header">Create a card for a <span class="cur">{{card.category}}</span></h3>
    </div>
    <div class="col-md-4" class="categories-field">
      <img ng-click="selectCategory(0)" class="new-category"
        src="/static/img/company.png" ng-class="{'active': card.category == 'Company'}" />
      <img ng-click="selectCategory(1)" class="new-category"
        src="/static/img/person.png" ng-class="{'active': card.category == 'Person'}" />
      <img ng-click="selectCategory(2)" class="new-category"
        src="/static/img/institution.png" ng-class="{'active': card.category == 'Organization'}" />
    </div>
    <div class="col-md-12 title-field">
      <input class="card-title card-title-edit" ng-model="card.title" placeholder="Person, Company or Organization name">
    </div>
    <div class="col-md-12">
      <input type="submit" value="Create" class="btn" label="submit" ng-disabled="!canSubmit()"></input>
    </div>
  </div>




</form>
