<div class="row">
  <div class="col-md-5 border-left border-right">
    <div class="col-md-12 save-bar">
      <button type="button" class="btn btn-analyze btn-default" ng-click="saveStory()">Save &amp; Analyze</button>
    </div>
    <div class="col-md-12">
      <input class="input-title" ng-model="story.title" placeholder="New Story">
      </div>
      <div class="col-md-12">
      <p>
        <div class="input-text" contenteditable="true"
          ng-model="story.text"
          strip-br="false"
          select-non-editable="false">
        </div>
      </p>
    </div>
  </div>
  <div class="col-md-7 border-right">
    <tabset justified="true" class="card-tabs">
      <tab heading="{{activeCards}} Cards" disabled="!activeCards" active="tabs.pending">
        <div class="card-list">
          <div ng-repeat="card in cards" ng-hide="card.discarded">
            <storyweb-link story="story" card="card"></storyweb-card>
          </div>
        </div>
      </tab>
      <tab heading="{{discardedCards}} Discarded" disabled="!discardedCards">
        <div class="card-list">
          <div ng-repeat="card in cards" ng-show="card.discarded">
            <storyweb-link story="story" card="card"></storyweb-card>
          </div>
        </div>
      </tab>
      <tab heading="New Card">
        <storyweb-new-link story="story"></storyweb-new-card>
      </tab>
    </tabset>
  </div>
</div>
