{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
  <div id="page" ng-controller="AppCtrl" ng-cloak>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('ui')}}#/">
            <span class="text">{{config.APP_TITLE}}</span>
          </a>
        </div>
        <form class="navbar-form navbar-left" role="search" ng-submit="search()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search cards" ng-model="searchQuery" typeahead="o as o.title for o in suggestCard($viewValue)"
            typeahead-focus-first="false" typeahead-wait-ms="100"
            typeahead-on-select="searchGo($item, $model, $label)">
          </div>
        </form>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li ng-show="session.is_admin">
              <a href="/admin">Admin</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
            <li>
              <a href="#/new?category=Article">New Story <img src="/static/img/newcard.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="view" class="container">
      <div ng-view></div>
    </div>
  </div>

  {% for path, tmpl in templates %}
    <script id="{{path}}" type="text/ng-template">{{ tmpl | safe }}</script>
  {% endfor %}
{% endblock %}
