<!DOCTYPE html>
<html lang="en" ng-app="storyweb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} {{config.APP_TITLE}}</title>
    <meta name="description" content="{% block description %}{{config.APP_DESCRIPTION}}{% endblock %}">

    {% assets "css" %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
      <div class="container">
          <p>
              Licensed as MIT software, <a href="https://github.com/granoproject/storyweb">source code</a>
          </p>
      </div>
    </footer>
    {% assets "js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
