<!DOCTYPE html>
<html lang="en" ng-app="storyweb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} {{config.APP_TITLE}}</title>
    <meta name="description" content="{% block description %}{{config.APP_DESCRIPTION}}{% endblock %}">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% assets "css" %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li>
                Grano StoryWeb 0.1
              </li>
              <li>
                <i class="fa fa-github"></i> <a href="https://github.com/granoproject/storyweb">Source code</a>
                &middot;
                <a href="https://github.com/granoproject/storyweb/issues">Report a problem</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 pull-right">
            <a href="http://granoproject.org"><img src="/static/img/grano.png" alt="Grano project"></a>
          </div>
        </div>
      </div>
    </footer>
    {% assets "js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
