{% extends "layout.html" %}

{% block title %}
  Sign in to the story editor -
{% endblock %}

{% block description %}
  
{% endblock %}

{% block content %}
  <div id="login-page">
    <h1>{{config.APP_TITLE}}</h1>
    <p>{{config.APP_DESCRIPTION}}</p>
    {% if config.MOTD %}
      <div class="alert alert-info">
        {{config.MOTD | safe}}
      </div>
    {% endif %}
    <form class="form-horizontal" role="form" method="POST" action="{{request.url}}">
      <div class="form-group {% if error %}has-error{% endif %}">
          <label for="email" class="col-sm-2 control-label">E-Mail</label>
          <div class="col-sm-10">
              <input type="email" name="email" value="{{data.get('email', '')}}"
                placeholder="user@domain.com" class="form-control">
              {% if error %}
                  <p class="help-block">{{ error }}</p>
              {% endif %}
          </div>
      </div>
      <div class="form-group {% if error %}has-error{% endif %}">
          <label for="password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
              <input type="password" name="password" class="form-control">
          </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
