{#
http://bear-z.com/python/render-bootstrap-3-forms-with-wtforms-and-jinja/
#}

{% macro render_field(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="col-sm-2 control-label">{{ field.label }}</label>
        {% endif %}
        <div class="col-sm-10">
            {{ field(class_='form-control', **kwargs) }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}
